{% extends "default.html" %}

{% block bodyclass %}login-page{% endblock %}

{% block content %} 
<div class="grid-container">
    <div class="grid-y">
    
        <div class="cell">
            <h1>
                {{ __('login_title') }}
                <small>{{ __('login_subtitle') }}</small>
            </h1>
        </div>
    
     
        {% if error %}
            <div class="cell">
                <p>{{ __('login_form_error') }}</p>
            </div>
        {% endif %}
        
        
        <div class="cell">
            <form class="login-form" method="POST">
            
                <!-- Hidden values -->
                <input type="hidden" name="action" value="register-form" />
            
            
                <!-- Fields -->
                <label>
                    <div>{{ __('login_form_email') }}</div>
                    <input type="email" name="email" autofocus required placeholder="{{ __('login_form_email_ph') }}"/>
                </label>
                
                <label>
                    <div>{{ __('login_form_password') }}</div>
                    <input type="password" name="password" required placeholder="{{ __('login_form_password_ph') }}"/>
                </label>
                
                
                <label>
                    <div>{{ __('login_form_password') }}</div>
                    <input type="password" name="password" required placeholder="{{ __('login_form_password_ph') }}"/>
                </label>
                
                
                <!-- Actions -->
                <button type="submit" class="button expanded">
                    {{ __('login_form_submit') }}
                </button>
                
                
                <div>
                    Don you have an account? <a href="{{ base_url }}login">Login </a>
                </div>                
                
            </form>
        
        </div>
    </div>
    
</div>

{% endblock %}